.payment-step {
  width: 1018px;
  display: flex;
  justify-content: space-between;
}

.payment-step .container,
.payment-step .less-height-container {
  margin-top: -260px;
  width: 1018px;
  display: flex;
  justify-content: space-between;
}

.payment-step .less-height-container {
  display: flex;
  margin-top: -115px;
}

.payment-step .number {
  text-align: center;
  width: 14px;
  height: 14px;
  border: 1px solid #0d28a6;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  text-align: center;
  font-family: Arial;
  font-size: 10px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 140% */
}

.payment-step .right-side h6 img {
  width: 12px;
  height: 12px;
  margin: -3px -1px 0 0;
}

.payment-step .complete {
  background-color: #0d28a6;
  color: white;
}
.payment-step h6 {
  font-family: Arial;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  margin: 0;
}

/* LEFT-SIDE-START */
.payment-step .left-side {
  display: flex;
  align-items: center;
  gap: 16px;
}

.payment-step .left-side .back {
  cursor: pointer;
}
/* LEFT-SIDE END  */

/* RIGHT-SIDE START  */
.payment-step .right-side {
  display: flex;
  gap: 12px;
}
.payment-step .right-side .step-1,
.payment-step .right-side .step-2,
.payment-step .right-side .step-3 {
  display: flex;
  gap: 8px;
  align-items: center;
}
/* RIGHT-SIDE END  */
@media screen and (max-width: 430px) {
  .payment-step .container {
    width: auto;
    display: flex;
    justify-content: center;
  }

  .payment-step .container .left-side h6,
  .payment-step .container .left-side img {
    display: none;
  }
}
